---
import Layout from "../layouts/Layout.astro";
import CallToAction from "../components/CallToAction.astro";
---

<Layout title="Contatti | Astrolus">
    <main
        class="space-y-12 sm:space-y-16 lg:space-y-20 pb-20 overflow-clip pt-32"
    >
        <CallToAction />
    </main>
</Layout>
