---
import HeroSection from "../components/HeroSection.astro";
import Layout from "../layouts/Layout.astro";
import CallToAction from "../components/CallToAction.astro";
import QuizSection from "../components/QuizSection.astro";
---

<Layout title="Welcome to Astrolus.">
	<main class="space-y-12 sm:space-y-16 lg:space-y-20 pb-20 overflow-clip">
		<HeroSection />
		<QuizSection />
		<CallToAction />
	</main>
</Layout>
