---
import Layout from "../layouts/Layout.astro";
import AboutSection from "../components/AboutSection.astro";
import SpeedSection from "../components/SpeedSection.astro";
import BentoGrid from "../components/BentoGrid.astro";
---

<Layout title="Il Metodo | Astrolus">
    <main
        class="space-y-12 sm:space-y-16 lg:space-y-20 pb-20 overflow-clip pt-32"
    >
        <AboutSection />
        <SpeedSection />
        <BentoGrid />
    </main>
</Layout>
