---
import Layout from "../layouts/Layout.astro";
import Testimonials from "../components/Testimonials.astro";
import Stats from "../components/Stats.astro";
---

<Layout title="Risultati | Astrolus">
    <main
        class="space-y-12 sm:space-y-16 lg:space-y-20 pb-20 overflow-clip pt-32"
    >
        <Testimonials />
        <Stats />
    </main>
</Layout>
