---
import Layout from "../layouts/Layout.astro";
import Services from "../components/Services.astro";
import ToolsSection from "../components/ToolsSection.astro";
---

<Layout title="Servizi | Astrolus">
    <main
        class="space-y-12 sm:space-y-16 lg:space-y-20 pb-20 overflow-clip pt-32"
    >
        <Services />
        <ToolsSection />
    </main>
</Layout>
