---
import { cn } from "@lib/utils";
import Container from "./Container.astro";
import { softGradientVariant as card } from "@tailus/themer-card";
---

<section id="features" class="scroll-mt-24">
    <Container>
        <div
            class="space-y-4 sm:grid sm:grid-cols-2 lg:grid-cols-3 sm:space-y-0 sm:gap-4"
        >
            <div class={cn(card.outer)}>
                <div
                    class={cn(
                        card.inner,
                        "flex flex-col justify-between h-full",
                    )}
                >
                    <div>
<img src="/bento_tracking.png" alt="Monitoraggio Costante" class="aspect-video w-full object-cover rounded-[--card-border-radius]" />
                    </div>
                    <div class="mt-6 space-y-2">
                        <h3
                            class="text-gray-950 dark:text-white text-lg font-medium"
                        >
                            Monitoraggio Costante
                        </h3>
                        <p class="text-gray-600 dark:text-gray-400">
                            Tieni traccia dei tuoi progressi con strumenti
                            semplici e intuitivi.
                        </p>
                    </div>
                </div>
            </div>
            <div class={cn(card.outer)}>
                <div
                    class={cn(
                        card.inner,
                        "h-full flex flex-col justify-between",
                    )}
                >
                    <div>
                        <svg
                            class="w-full"
                            viewBox="0 0 309 181"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                class="text-gray-400 dark:text-gray-600"
                                d="M1.25922 9.746V8.78L6.17322 1.976H7.69922V8.64H9.09922V9.746H7.69922V12H6.43922V9.746H1.25922ZM6.49522 3.306L2.72922 8.64H6.49522V3.306ZM10.3719 6.834C10.3719 5.22867 10.6332 3.978 11.1559 3.082C11.6786 2.17667 12.5932 1.724 13.8999 1.724C15.1972 1.724 16.1072 2.17667 16.6299 3.082C17.1526 3.978 17.4139 5.22867 17.4139 6.834C17.4139 8.46733 17.1526 9.73667 16.6299 10.642C16.1072 11.5473 15.1972 12 13.8999 12C12.5932 12 11.6786 11.5473 11.1559 10.642C10.6332 9.73667 10.3719 8.46733 10.3719 6.834ZM16.1539 6.834C16.1539 6.022 16.0979 5.336 15.9859 4.776C15.8832 4.20667 15.6639 3.74933 15.3279 3.404C15.0012 3.05867 14.5252 2.886 13.8999 2.886C13.2652 2.886 12.7799 3.05867 12.4439 3.404C12.1172 3.74933 11.8979 4.20667 11.7859 4.776C11.6832 5.336 11.6319 6.022 11.6319 6.834C11.6319 7.674 11.6832 8.37867 11.7859 8.948C11.8979 9.51733 12.1172 9.97467 12.4439 10.32C12.7799 10.6653 13.2652 10.838 13.8999 10.838C14.5252 10.838 15.0012 10.6653 15.3279 10.32C15.6639 9.97467 15.8832 9.51733 15.9859 8.948C16.0979 8.37867 16.1539 7.674 16.1539 6.834ZM23.6569 12L20.6469 8.612V12H19.3729V1.64H20.6469V7.73L23.6009 4.328H25.3789L21.7669 8.15L25.3929 12H23.6569Z"
                                fill="currentColor"></path>
                            <path
                                class="text-gray-100 dark:text-white/5"
                                d="M33.5 7.5H337.5"
                                stroke="currentColor"></path>
                            <path
                                class="text-gray-400 dark:text-gray-600"
                                d="M2.09977 40.426C2.1651 39.5673 2.49643 38.8953 3.09377 38.41C3.6911 37.9247 4.46577 37.682 5.41777 37.682C6.05243 37.682 6.59843 37.7987 7.05577 38.032C7.52243 38.256 7.87243 38.564 8.10577 38.956C8.34843 39.348 8.46977 39.7913 8.46977 40.286C8.46977 40.8647 8.30177 41.364 7.96577 41.784C7.6391 42.204 7.20977 42.4747 6.67777 42.596V42.666C7.28443 42.8153 7.7651 43.1093 8.11977 43.548C8.47443 43.9867 8.65177 44.5607 8.65177 45.27C8.65177 45.802 8.53043 46.2827 8.28777 46.712C8.0451 47.132 7.6811 47.4633 7.19577 47.706C6.71043 47.9487 6.1271 48.07 5.44577 48.07C4.45643 48.07 3.64443 47.8133 3.00977 47.3C2.3751 46.7773 2.02043 46.04 1.94577 45.088H3.17777C3.2431 45.648 3.47177 46.1053 3.86377 46.46C4.25577 46.8147 4.77843 46.992 5.43177 46.992C6.0851 46.992 6.57977 46.824 6.91577 46.488C7.2611 46.1427 7.43377 45.6993 7.43377 45.158C7.43377 44.458 7.20043 43.954 6.73377 43.646C6.2671 43.338 5.56243 43.184 4.61977 43.184H4.29777V42.12H4.63377C5.49243 42.1107 6.1411 41.9707 6.57977 41.7C7.01843 41.42 7.23777 40.9907 7.23777 40.412C7.23777 39.9173 7.07443 39.5207 6.74777 39.222C6.43043 38.9233 5.9731 38.774 5.37577 38.774C4.7971 38.774 4.33043 38.9233 3.97577 39.222C3.6211 39.5207 3.4111 39.922 3.34577 40.426H2.09977ZM10.3719 42.834C10.3719 41.2287 10.6332 39.978 11.1559 39.082C11.6786 38.1767 12.5932 37.724 13.8999 37.724C15.1972 37.724 16.1072 38.1767 16.6299 39.082C17.1526 39.978 17.4139 41.2287 17.4139 42.834C17.4139 44.4673 17.1526 45.7367 16.6299 46.642C16.1072 47.5473 15.1972 48 13.8999 48C12.5932 48 11.6786 47.5473 11.1559 46.642C10.6332 45.7367 10.3719 44.4673 10.3719 42.834ZM16.1539 42.834C16.1539 42.022 16.0979 41.336 15.9859 40.776C15.8832 40.2067 15.6639 39.7493 15.3279 39.404C15.0012 39.0587 14.5252 38.886 13.8999 38.886C13.2652 38.886 12.7799 39.0587 12.4439 39.404C12.1172 39.7493 11.8979 40.2067 11.7859 40.776C11.6832 41.336 11.6319 42.022 11.6319 42.834C11.6319 43.674 11.6832 44.3787 11.7859 44.948C11.8979 45.5173 12.1172 45.9747 12.4439 46.32C12.7799 46.6653 13.2652 46.838 13.8999 46.838C14.5252 46.838 15.0012 46.6653 15.3279 46.32C15.6639 45.9747 15.8832 45.5173 15.9859 44.948C16.0979 44.3787 16.1539 43.674 16.1539 42.834ZM23.6569 48L20.6469 44.612V48H19.3729V37.64H20.6469V43.73L23.6009 40.328H25.3789L21.7669 44.15L25.3929 48H23.6569Z"
                                fill="currentColor"></path>
                            <path
                                class="text-gray-100 dark:text-white/5"
                                d="M33.5 43.5H337.5"
                                stroke="currentColor"></path>
                            <path
                                class="text-gray-400 dark:text-gray-600"
                                d="M2.16517 82.978C3.35051 82.026 4.27917 81.2467 4.95117 80.64C5.62317 80.024 6.18784 79.3847 6.64517 78.722C7.11184 78.05 7.34517 77.392 7.34517 76.748C7.34517 76.1413 7.19584 75.6653 6.89717 75.32C6.60784 74.9653 6.13651 74.788 5.48317 74.788C4.84851 74.788 4.35384 74.9887 3.99917 75.39C3.65384 75.782 3.46717 76.3093 3.43917 76.972H2.20717C2.24451 75.9267 2.56184 75.1193 3.15917 74.55C3.75651 73.9807 4.52651 73.696 5.46917 73.696C6.43051 73.696 7.19117 73.962 7.75117 74.494C8.32051 75.026 8.60517 75.7587 8.60517 76.692C8.60517 77.4667 8.37184 78.2227 7.90517 78.96C7.44784 79.688 6.92517 80.332 6.33717 80.892C5.74917 81.4427 4.99784 82.0867 4.08317 82.824H8.89917V83.888H2.16517V82.978ZM10.3719 78.834C10.3719 77.2287 10.6332 75.978 11.1559 75.082C11.6786 74.1767 12.5932 73.724 13.8999 73.724C15.1972 73.724 16.1072 74.1767 16.6299 75.082C17.1526 75.978 17.4139 77.2287 17.4139 78.834C17.4139 80.4673 17.1526 81.7367 16.6299 82.642C16.1072 83.5473 15.1972 84 13.8999 84C12.5932 84 11.6786 83.5473 11.1559 82.642C10.6332 81.7367 10.3719 80.4673 10.3719 78.834ZM16.1539 78.834C16.1539 78.022 16.0979 77.336 15.9859 76.776C15.8832 76.2067 15.6639 75.7493 15.3279 75.404C15.0012 75.0587 14.5252 74.886 13.8999 74.886C13.2652 74.886 12.7799 75.0587 12.4439 75.404C12.1172 75.7493 11.8979 76.2067 11.7859 76.776C11.6832 77.336 11.6319 78.022 11.6319 78.834C11.6319 79.674 11.6832 80.3787 11.7859 80.948C11.8979 81.5173 12.1172 81.9747 12.4439 82.32C12.7799 82.6653 13.2652 82.838 13.8999 82.838C14.5252 82.838 15.0012 82.6653 15.3279 82.32C15.6639 81.9747 15.8832 81.5173 15.9859 80.948C16.0979 80.3787 16.1539 79.674 16.1539 78.834ZM23.6569 84L20.6469 80.612V84H19.3729V73.64H20.6469V79.73L23.6009 76.328H25.3789L21.7669 80.15L25.3929 84H23.6569Z"
                                fill="currentColor"></path>
                            <path
                                class="text-gray-100 dark:text-white/5"
                                d="M33.5 79.5H337.5"
                                stroke="currentColor"></path>
                            <path
                                class="text-gray-400 dark:text-gray-600"
                                d="M5.55153 111.04V109.878H8.18353V120H6.89553V111.04H5.55153ZM10.3719 114.834C10.3719 113.229 10.6332 111.978 11.1559 111.082C11.6786 110.177 12.5932 109.724 13.8999 109.724C15.1972 109.724 16.1072 110.177 16.6299 111.082C17.1526 111.978 17.4139 113.229 17.4139 114.834C17.4139 116.467 17.1526 117.737 16.6299 118.642C16.1072 119.547 15.1972 120 13.8999 120C12.5932 120 11.6786 119.547 11.1559 118.642C10.6332 117.737 10.3719 116.467 10.3719 114.834ZM16.1539 114.834C16.1539 114.022 16.0979 113.336 15.9859 112.776C15.8832 112.207 15.6639 111.749 15.3279 111.404C15.0012 111.059 14.5252 110.886 13.8999 110.886C13.2652 110.886 12.7799 111.059 12.4439 111.404C12.1172 111.749 11.8979 112.207 11.7859 112.776C11.6832 113.336 11.6319 114.022 11.6319 114.834C11.6319 115.674 11.6832 116.379 11.7859 116.948C11.8979 117.517 12.1172 117.975 12.4439 118.32C12.7799 118.665 13.2652 118.838 13.8999 118.838C14.5252 118.838 15.0012 118.665 15.3279 118.32C15.6639 117.975 15.8832 117.517 15.9859 116.948C16.0979 116.379 16.1539 115.674 16.1539 114.834ZM23.6569 120L20.6469 116.612V120H19.3729V109.64H20.6469V115.73L23.6009 112.328H25.3789L21.7669 116.15L25.3929 120H23.6569Z"
                                fill="currentColor"></path>
                            <path
                                class="text-gray-100 dark:text-white/5"
                                d="M33.5 115.5H337.5"
                                stroke="currentColor"></path>
                            <path
                                class="text-gray-400 dark:text-gray-600"
                                d="M10.3719 150.834C10.3719 149.229 10.6332 147.978 11.1559 147.082C11.6786 146.177 12.5932 145.724 13.8999 145.724C15.1972 145.724 16.1072 146.177 16.6299 147.082C17.1526 147.978 17.4139 149.229 17.4139 150.834C17.4139 152.467 17.1526 153.737 16.6299 154.642C16.1072 155.547 15.1972 156 13.8999 156C12.5932 156 11.6786 155.547 11.1559 154.642C10.6332 153.737 10.3719 152.467 10.3719 150.834ZM16.1539 150.834C16.1539 150.022 16.0979 149.336 15.9859 148.776C15.8832 148.207 15.6639 147.749 15.3279 147.404C15.0012 147.059 14.5252 146.886 13.8999 146.886C13.2652 146.886 12.7799 147.059 12.4439 147.404C12.1172 147.749 11.8979 148.207 11.7859 148.776C11.6832 149.336 11.6319 150.022 11.6319 150.834C11.6319 151.674 11.6832 152.379 11.7859 152.948C11.8979 153.517 12.1172 153.975 12.4439 154.32C12.7799 154.665 13.2652 154.838 13.8999 154.838C14.5252 154.838 15.0012 154.665 15.3279 154.32C15.6639 153.975 15.8832 153.517 15.9859 152.948C16.0979 152.379 16.1539 151.674 16.1539 150.834ZM23.6569 156L20.6469 152.612V156H19.3729V145.64H20.6469V151.73L23.6009 148.328H25.3789L21.7669 152.15L25.3929 156H23.6569Z"
                                fill="currentColor"></path>
                            <path
                                class="text-gray-100 dark:text-white/5"
                                d="M33.5 151.5H337.5"
                                stroke="currentColor"></path>
                            <path
                                class="text-gray-400 dark:text-gray-600"
                                d="M35.242 168.225V175.435C35.242 176.238 34.9947 176.882 34.5 177.367C34.0053 177.843 33.352 178.081 32.54 178.081C31.7187 178.081 31.0607 177.838 30.566 177.353C30.0713 176.858 29.824 176.186 29.824 175.337H31.098C31.1073 175.813 31.2287 176.2 31.462 176.499C31.7047 176.798 32.064 176.947 32.54 176.947C33.016 176.947 33.3707 176.807 33.604 176.527C33.8373 176.238 33.954 175.874 33.954 175.435V168.225H35.242ZM43.5198 175.813H39.2638L38.4798 177.983H37.1358L40.6638 168.281H42.1338L45.6478 177.983H44.3038L43.5198 175.813ZM43.1558 174.777L41.3918 169.849L39.6278 174.777H43.1558ZM54.8574 177.983H53.5834L48.4594 170.213V177.983H47.1854V168.211H48.4594L53.5834 175.967V168.211H54.8574V177.983Z"
                                fill="currentColor"></path>
                            <path
                                class="text-gray-400 dark:text-gray-600"
                                d="M89.344 168.225V169.261H85.102V172.551H88.546V173.587H85.102V177.983H83.828V168.225H89.344ZM92.1567 169.261V172.523H95.7127V173.573H92.1567V176.933H96.1327V177.983H90.8827V168.211H96.1327V169.261H92.1567ZM102.946 172.957C103.301 173.013 103.623 173.158 103.912 173.391C104.211 173.624 104.444 173.914 104.612 174.259C104.79 174.604 104.878 174.973 104.878 175.365C104.878 175.86 104.752 176.308 104.5 176.709C104.248 177.101 103.88 177.414 103.394 177.647C102.918 177.871 102.354 177.983 101.7 177.983H98.0604V168.225H101.56C102.223 168.225 102.788 168.337 103.254 168.561C103.721 168.776 104.071 169.07 104.304 169.443C104.538 169.816 104.654 170.236 104.654 170.703C104.654 171.282 104.496 171.762 104.178 172.145C103.87 172.518 103.46 172.789 102.946 172.957ZM99.3344 172.439H101.476C102.074 172.439 102.536 172.299 102.862 172.019C103.189 171.739 103.352 171.352 103.352 170.857C103.352 170.362 103.189 169.975 102.862 169.695C102.536 169.415 102.064 169.275 101.448 169.275H99.3344V172.439ZM101.588 176.933C102.223 176.933 102.718 176.784 103.072 176.485C103.427 176.186 103.604 175.771 103.604 175.239C103.604 174.698 103.418 174.273 103.044 173.965C102.671 173.648 102.172 173.489 101.546 173.489H99.3344V176.933H101.588Z"
                                fill="currentColor"></path>
                            <path
                                class="text-gray-400 dark:text-gray-600"
                                d="M141.226 168.295V177.983H139.952V170.759L136.732 177.983H135.836L132.602 170.745V177.983H131.328V168.295H132.7L136.284 176.303L139.868 168.295H141.226ZM149.155 175.813H144.899L144.115 177.983H142.771L146.299 168.281H147.769L151.283 177.983H149.939L149.155 175.813ZM148.791 174.777L147.027 169.849L145.263 174.777H148.791ZM157.958 177.983L155.634 173.993H154.094V177.983H152.82V168.225H155.97C156.708 168.225 157.328 168.351 157.832 168.603C158.346 168.855 158.728 169.196 158.98 169.625C159.232 170.054 159.358 170.544 159.358 171.095C159.358 171.767 159.162 172.36 158.77 172.873C158.388 173.386 157.809 173.727 157.034 173.895L159.484 177.983H157.958ZM154.094 172.971H155.97C156.661 172.971 157.179 172.803 157.524 172.467C157.87 172.122 158.042 171.664 158.042 171.095C158.042 170.516 157.87 170.068 157.524 169.751C157.188 169.434 156.67 169.275 155.97 169.275H154.094V172.971Z"
                                fill="currentColor"></path>
                            <path
                                class="text-gray-400 dark:text-gray-600"
                                d="M190.596 175.813H186.34L185.556 177.983H184.212L187.74 168.281H189.21L192.724 177.983H191.38L190.596 175.813ZM190.232 174.777L188.468 169.849L186.704 174.777H190.232ZM200.786 171.081C200.786 171.893 200.506 172.57 199.946 173.111C199.395 173.643 198.55 173.909 197.412 173.909H195.536V177.983H194.262V168.225H197.412C198.513 168.225 199.348 168.491 199.918 169.023C200.496 169.555 200.786 170.241 200.786 171.081ZM197.412 172.859C198.121 172.859 198.644 172.705 198.98 172.397C199.316 172.089 199.484 171.65 199.484 171.081C199.484 169.877 198.793 169.275 197.412 169.275H195.536V172.859H197.412ZM207.507 177.983L205.183 173.993H203.643V177.983H202.369V168.225H205.519C206.256 168.225 206.877 168.351 207.381 168.603C207.894 168.855 208.277 169.196 208.529 169.625C208.781 170.054 208.907 170.544 208.907 171.095C208.907 171.767 208.711 172.36 208.319 172.873C207.936 173.386 207.358 173.727 206.583 173.895L209.033 177.983H207.507ZM203.643 172.971H205.519C206.21 172.971 206.728 172.803 207.073 172.467C207.418 172.122 207.591 171.664 207.591 171.095C207.591 170.516 207.418 170.068 207.073 169.751C206.737 169.434 206.219 169.275 205.519 169.275H203.643V172.971Z"
                                fill="currentColor"></path>
                            <path
                                class="text-gray-400 dark:text-gray-600"
                                d="M244.726 168.295V177.983H243.452V170.759L240.232 177.983H239.336L236.102 170.745V177.983H234.828V168.295H236.2L239.784 176.303L243.368 168.295H244.726ZM252.655 175.813H248.399L247.615 177.983H246.271L249.799 168.281H251.269L254.783 177.983H253.439L252.655 175.813ZM252.291 174.777L250.527 169.849L248.763 174.777H252.291ZM263.152 168.225L259.974 174.301V177.983H258.7V174.301L255.508 168.225H256.922L259.33 173.167L261.738 168.225H263.152Z"
                                fill="currentColor"
                                style="fill:#959596;fill:color(display-p3 0.5824 0.5854 0.5882);fill-opacity:1;"
                            ></path>
                            <path
                                class="text-gray-400 dark:text-gray-600"
                                d="M292.742 168.225V175.435C292.742 176.238 292.495 176.882 292 177.367C291.505 177.843 290.852 178.081 290.04 178.081C289.219 178.081 288.561 177.838 288.066 177.353C287.571 176.858 287.324 176.186 287.324 175.337H288.598C288.607 175.813 288.729 176.2 288.962 176.499C289.205 176.798 289.564 176.947 290.04 176.947C290.516 176.947 290.871 176.807 291.104 176.527C291.337 176.238 291.454 175.874 291.454 175.435V168.225H292.742ZM296.498 168.225V174.399C296.498 175.267 296.708 175.911 297.128 176.331C297.557 176.751 298.15 176.961 298.906 176.961C299.652 176.961 300.236 176.751 300.656 176.331C301.085 175.911 301.3 175.267 301.3 174.399V168.225H302.574V174.385C302.574 175.197 302.41 175.883 302.084 176.443C301.757 176.994 301.314 177.404 300.754 177.675C300.203 177.946 299.582 178.081 298.892 178.081C298.201 178.081 297.576 177.946 297.016 177.675C296.465 177.404 296.026 176.994 295.7 176.443C295.382 175.883 295.224 175.197 295.224 174.385V168.225H296.498ZM312.371 177.983H311.097L305.973 170.213V177.983H304.699V168.211H305.973L311.097 175.967V168.211H312.371V177.983Z"
                                fill="currentColor"></path>
                            <path
                                class="text-secondary-500"
                                d="M34 159.349L51.5731 130.914C51.8393 130.484 52.259 130.17 52.7475 130.037L69.8038 125.379C70.2955 125.244 70.7174 124.927 70.9833 124.492L87.934 96.768C88.52 95.8096 89.7802 95.5216 90.7243 96.1304L105.597 105.721C106.529 106.322 107.772 106.05 108.368 105.114L127.941 74.3663C128.581 73.3613 129.952 73.135 130.88 73.8811L146.066 86.0786C146.63 86.5312 147.393 86.6446 148.064 86.3753L162.747 80.4785C163.852 80.0347 165.097 80.6488 165.418 81.7954L182.491 142.802C182.957 144.466 185.173 144.796 186.103 143.338L201.528 119.163C201.818 118.709 202.278 118.391 202.805 118.281L222.401 114.182C223.022 114.052 223.667 114.224 224.14 114.645L239.98 128.739C240.879 129.538 242.275 129.369 242.957 128.379L258.571 105.707C259.534 104.309 261.69 104.67 262.145 106.305L276.961 159.488C277.352 160.89 279.061 161.419 280.175 160.482L296.08 147.11L316 134.423"
                                stroke="currentColor"
                                stroke-width="2.5"></path>
                            <path
                                class="text-gray-500"
                                d="M161.25 22.9829L161.25 158.983"
                                stroke="currentColor"></path>
                            <path
                                class="text-gray-700 dark:text-white"
                                d="M161.25 62.4829C161.25 58.0646 164.832 54.4829 169.25 54.4829H202.25C206.668 54.4829 210.25 58.0646 210.25 62.4829V70.4829C210.25 74.9012 206.668 78.4829 202.25 78.4829H161.25V62.4829Z"
                                fill="currentColor"></path>
                            <path
                                class="text-white dark:text-gray-700"
                                d="M166.913 70.5339C168.014 69.6499 168.876 68.9262 169.5 68.3629C170.124 67.7909 170.648 67.1972 171.073 66.5819C171.506 65.9579 171.723 65.3469 171.723 64.7489C171.723 64.1856 171.584 63.7436 171.307 63.4229C171.038 63.0936 170.601 62.9289 169.994 62.9289C169.405 62.9289 168.945 63.1152 168.616 63.4879C168.295 63.8519 168.122 64.3416 168.096 64.9569H166.952C166.987 63.9862 167.281 63.2366 167.836 62.7079C168.391 62.1792 169.106 61.9149 169.981 61.9149C170.874 61.9149 171.58 62.1619 172.1 62.6559C172.629 63.1499 172.893 63.8302 172.893 64.6969C172.893 65.4162 172.676 66.1182 172.243 66.8029C171.818 67.4789 171.333 68.0769 170.787 68.5969C170.241 69.1082 169.543 69.7062 168.694 70.3909H173.166V71.3789H166.913V70.5339ZM174.222 63.1629V62.0839H176.666V71.4829H175.47V63.1629H174.222ZM180.115 69.8449L178.659 73.3419H177.866L178.815 69.8449H180.115ZM181.249 64.4499C181.309 63.6526 181.617 63.0286 182.172 62.5779C182.726 62.1272 183.446 61.9019 184.33 61.9019C184.919 61.9019 185.426 62.0102 185.851 62.2269C186.284 62.4349 186.609 62.7209 186.826 63.0849C187.051 63.4489 187.164 63.8606 187.164 64.3199C187.164 64.8572 187.008 65.3209 186.696 65.7109C186.392 66.1009 185.994 66.3522 185.5 66.4649V66.5299C186.063 66.6686 186.509 66.9416 186.839 67.3489C187.168 67.7562 187.333 68.2892 187.333 68.9479C187.333 69.4419 187.22 69.8882 186.995 70.2869C186.769 70.6769 186.431 70.9846 185.981 71.2099C185.53 71.4352 184.988 71.5479 184.356 71.5479C183.437 71.5479 182.683 71.3096 182.094 70.8329C181.504 70.3476 181.175 69.6629 181.106 68.7789H182.25C182.31 69.2989 182.523 69.7236 182.887 70.0529C183.251 70.3822 183.736 70.5469 184.343 70.5469C184.949 70.5469 185.409 70.3909 185.721 70.0789C186.041 69.7582 186.202 69.3466 186.202 68.8439C186.202 68.1939 185.985 67.7259 185.552 67.4399C185.118 67.1539 184.464 67.0109 183.589 67.0109H183.29V66.0229H183.602C184.399 66.0142 185.001 65.8842 185.409 65.6329C185.816 65.3729 186.02 64.9742 186.02 64.4369C186.02 63.9776 185.868 63.6092 185.565 63.3319C185.27 63.0546 184.845 62.9159 184.291 62.9159C183.753 62.9159 183.32 63.0546 182.991 63.3319C182.661 63.6092 182.466 63.9819 182.406 64.4499H181.249ZM188.644 69.3899V68.4929L193.207 62.1749H194.624V68.3629H195.924V69.3899H194.624V71.4829H193.454V69.3899H188.644ZM193.506 63.4099L190.009 68.3629H193.506V63.4099ZM203.099 63.1109H198.536V66.0749C198.735 65.7976 199.03 65.5722 199.42 65.3989C199.81 65.2169 200.23 65.1259 200.681 65.1259C201.4 65.1259 201.985 65.2776 202.436 65.5809C202.886 65.8756 203.207 66.2612 203.398 66.7379C203.597 67.2059 203.697 67.7042 203.697 68.2329C203.697 68.8569 203.58 69.4159 203.346 69.9099C203.112 70.4039 202.752 70.7939 202.267 71.0799C201.79 71.3659 201.196 71.5089 200.486 71.5089C199.576 71.5089 198.839 71.2749 198.276 70.8069C197.712 70.3389 197.37 69.7149 197.249 68.9349H198.406C198.518 69.4289 198.757 69.8146 199.121 70.0919C199.485 70.3692 199.944 70.5079 200.499 70.5079C201.183 70.5079 201.699 70.3042 202.046 69.8969C202.392 69.4809 202.566 68.9349 202.566 68.2589C202.566 67.5829 202.392 67.0629 202.046 66.6989C201.699 66.3262 201.188 66.1399 200.512 66.1399C200.052 66.1399 199.649 66.2526 199.303 66.4779C198.965 66.6946 198.718 66.9936 198.562 67.3749H197.444V62.0709H203.099V63.1109Z"
                                fill="currentColor"></path>
                        </svg>
                    </div>
                    <div class="mt-6 space-y-2">
                        <h3
                            class="text-gray-950 dark:text-white text-lg font-medium"
                        >
                            Integrazione Life-Work
                        </h3>
                        <p class="text-gray-600 dark:text-gray-400">
                            Il fitness si adatta alla tua vita, non il
                            contrario.
                        </p>
                    </div>
                </div>
            </div>
            <div class={cn(card.outer)}>
                <div
                    class={cn(
                        card.inner,
                        "h-full flex flex-col justify-between",
                    )}
                >
                    <div>
<img src="/bento_nutrition.png" alt="Nutrizione Personalizzata" class="aspect-video w-full object-cover rounded-[--card-border-radius]" />
                    </div>
                    <div class="mt-6 space-y-2">
                        <h3
                            class="text-gray-950 dark:text-white text-lg font-medium"
                        >
                            Nutrizione Personalizzata
                        </h3>
                        <p class="text-gray-600 dark:text-gray-400">
                            Piani alimentari gustosi e sostenibili, cuciti su di
                            te.
                        </p>
                    </div>
                </div>
            </div>
            <div class={cn(card.outer, "sm:col-span-2")}>
                <div
                    class={cn(
                        card.inner,
                        "flex flex-col justify-between h-full",
                    )}
                >
                    <div>
                        <div
                            class="overflow-x-auto lg:overflow-visible py-6 relative bg-white border flex items-center justify-center dark:border-info-400/20 dark:bg-gray-950/25"
                        >
                            <div class="absolute -inset-1 flex justify-between">
                                <div class="flex flex-col justify-between">
                                    <div
                                        class="size-2 rounded-full border border-info-500 bg-white"
                                    >
                                    </div>
                                    <div
                                        class="size-2 rounded-full border border-info-500 bg-white"
                                    >
                                    </div>
                                </div>
                                <div class="flex flex-col justify-between">
                                    <div
                                        class="size-2 rounded-full border border-info-500 bg-white"
                                    >
                                    </div>
                                    <div
                                        class="size-2 rounded-full border border-info-500 bg-white"
                                    >
                                    </div>
                                </div>
                            </div>
                            <div
                                class="relative flex gap-2 *:size-8 *:rounded-xl *:border *:border-gray-950/5 dark:*:border-white/5"
                            >
                                <div class="bg-primary-50"></div>
                                <div class="bg-primary-100"></div>
                                <div class="bg-primary-200"></div>
                                <div class="bg-primary-300"></div>
                                <div class="bg-primary-400"></div>
                                <div class="bg-primary-500"></div>
                                <div class="bg-primary-600"></div>
                                <div class="bg-primary-700"></div>
                                <div class="bg-primary-800"></div>
                                <div class="bg-primary-900"></div>
                                <div class="bg-primary-950"></div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-6 space-y-2">
                        <h3
                            class="text-gray-950 dark:text-white text-lg font-medium"
                        >
                            Programmi Flessibili
                        </h3>
                        <p class="max-w-lg text-gray-600 dark:text-gray-400">
                            Allenamenti che evolvono con te e le tue esigenze.
                        </p>
                    </div>
                </div>
            </div>
            <div class={cn(card.outer, "sm:row-start-2 lg:row-start-auto")}>
                <div
                    class={cn(
                        card.inner,
                        "flex flex-col justify-between h-full",
                    )}
                >
                    <div>
<img src="/bento_community.png" alt="Supporto Continuo" class="w-full h-40 object-cover rounded-[--card-border-radius]" />
                    </div>
                    <div class="mt-6 space-y-2">
                        <h3
                            class="text-gray-950 dark:text-white text-lg font-medium"
                        >
                            Supporto Continuo
                        </h3>
                        <p class="text-gray-600 dark:text-gray-400">
                            Non sei mai solo. Supporto costante per mantenere la
                            motivazione alta.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </Container>
</section>
