---
import Container from "./Container.astro";
---

<section class="scroll-mt-24" id="solution">
  <Container>
    <img
      src="/stats_transformation.png"
      alt="Il tuo percorso di trasformazione"
      class="w-full max-w-3xl mx-auto rounded-[--card-border-radius] shadow-2xl border border-gray-100 dark:border-gray-800"
    />

    <div
      class="mt-12 grid sm:grid-cols-2 gap-4 sm:gap-12 max-w-3xl w-full mx-auto"
    >
      <div>
        <h2 class="text-gray-950 dark:text-white text-2xl font-semibold">
          Risultati tangibili, non solo promesse
        </h2>
      </div>
      <div class="space-y-3">
        <p class="text-gray-600 dark:text-gray-400">
          Il mio metodo si basa su una progressione costante. <span
            class="text-gray-950 dark:text-white font-medium"
            >Ogni passo è misurato</span
          > per portarti verso il tuo obiettivo.
        </p>
        <p class="text-gray-600 dark:text-gray-400">
          Dimentica lo stallo. Con un piano strutturato, vedrai il tuo corpo
          cambiare settimana dopo settimana, in modo sostenibile e duraturo.
        </p>
      </div>
    </div>
  </Container>
</section>
